{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">

  <div class="author__avatar">
    <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <!-- English bio -->
    <div class="bio-en">
      <p class="author__bio">Economics | Finance<br>PKU HSBC Business School</p>
    </div>
    <!-- Chinese bio -->
    <div class="bio-zh" style="display:none;">
      <p class="author__bio">经济学 | 金融学<br>北京大学汇丰商学院</p>
    </div>
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <!-- English description -->
      <li class="desc-en"><div style="white-space: normal; margin-bottom: 1em;">M.A. in Economics at Peking University HSBC Business School</div></li>
      <!-- Chinese description -->
      <li class="desc-zh" style="display:none;"><div style="white-space: normal; margin-bottom: 1em;">北京大学汇丰商学院经济学硕士研究生</div></li>

      {% if author.location %}
        <li class="loc-en"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Shenzhen, China</li>
        <li class="loc-zh" style="display:none;"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> 深圳，中国</li>
      {% endif %}

      {% if author.email %}
        <li class="email-en"><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email: {{ author.email }}</a></li>
        <li class="email-zh" style="display:none;"><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> 邮箱: {{ author.email }}</a></li>
      {% endif %}

      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
    </ul>
  </div>
</div>

