---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}

/* Custom fonts: KaiTi for Chinese, Times New Roman for English */
body {
    font-family: "Times New Roman", "KaiTi", "楷体", "STKaiti", "华文楷体", serif;
}

/* Chinese content specific font */
#content-zh {
    font-family: "KaiTi", "楷体", "STKaiti", "华文楷体", "Times New Roman", serif;
}

/* English content specific font */
#content-en {
    font-family: "Times New Roman", Times, serif;
}

/* Language content transitions */
.lang-content {
    transition: opacity 0.3s ease;
}

/* Language switch styling */
.lang-switch {
    text-align: right;
    margin-bottom: 1em;
}

.lang-btn {
    padding: 0.4em 0.8em;
    margin-left: 0.3em;
    border: 1px solid #494e52;
    border-radius: 3px;
    background-color: #fff;
    color: #494e52;
    cursor: pointer;
    font-family: "Times New Roman", "KaiTi", serif;
    font-size: 0.85em;
    transition: all 0.2s ease;
}

.lang-btn:hover {
    background-color: #f0f0f0;
}

.lang-btn.active {
    background-color: #494e52;
    color: #fff;
}

/* Typing text effect */
.typing-text {
    font-size: 1.1em;
    color: #494e52;
    min-height: 1.5em;
    margin-bottom: 1em;
    border-right: 2px solid #494e52;
    animation: blink 0.7s infinite;
    display: inline-block;
    padding-right: 3px;
}

@keyframes blink {
    0%, 50% { border-color: #494e52; }
    51%, 100% { border-color: transparent; }
}

/* Experience item styling */
.experience-item {
    margin-bottom: 1.5em;
    padding-left: 0;
}

.experience-item strong {
    font-size: 1em;
}

.experience-item .date {
    display: block;
    color: #888;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.experience-item ul, .experience-item p {
    margin-top: 0.5em;
}

/* List styling for resume */
.lang-content ul {
    margin-left: 0;
    padding-left: 1.5em;
}

.lang-content li {
    margin-bottom: 0.4em;
    line-height: 1.5;
}

/* Section headers with emoji */
.lang-content h1 {
    font-size: 1.3em;
    margin-top: 1.5em;
    margin-bottom: 0.8em;
    color: #333;
}