---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

/* Embed SimKai font for all devices */
@font-face {
    font-family: 'SimKai';
    src: url('/simkai.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}

/* Custom fonts: SimKai for Chinese, Times New Roman for English */
body {
    font-family: "Times New Roman", "SimKai", "KaiTi", "楷体", serif;
}

/* Chinese content specific font - use embedded SimKai */
#content-zh {
    font-family: "SimKai", "KaiTi", "楷体", "Times New Roman", serif;
}

/* English content specific font */
#content-en {
    font-family: "Times New Roman", Times, serif;
}

/* Language toggle also uses the fonts */
.lang-btn {
    font-family: "Times New Roman", "SimKai", serif;
}

/* Language switch styling */
.lang-switch {
    text-align: right;
    margin-bottom: 0.5em;
}

.lang-btn {
    padding: 0.3em 0.6em;
    margin-left: 0.2em;
    border: 1px solid #1565c0;
    border-radius: 3px;
    background-color: #fff;
    color: #1565c0;
    cursor: pointer;
    font-family: "Times New Roman", "KaiTi", serif;
    font-size: 0.8em;
    transition: all 0.2s ease;
}

.lang-btn:hover {
    background-color: #e3f2fd;
}

.lang-btn.active {
    background-color: #1565c0;
    color: #fff;
}

/* Section headers - blue color like reference */
.lang-content h1 {
    font-size: 1.1em;
    font-weight: bold;
    color: #1565c0;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    padding-bottom: 0.2em;
    border-bottom: none;
}

/* Date alignment to right */
.date-right {
    float: right;
    color: #333;
    font-weight: normal;
}

/* Clear float after date */
.lang-content p {
    overflow: hidden;
}

/* List styling for resume */
.lang-content ul {
    margin-left: 0;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    padding-left: 1.2em;
}

.lang-content li {
    margin-bottom: 0.3em;
    line-height: 1.4;
    font-size: 0.95em;
}

/* Bold company/school names */
.lang-content > p > strong:first-child {
    font-weight: bold;
}

/* Spacing between experience entries */
.lang-content > p {
    margin-bottom: 0.3em;
}